.grid {
  margin: 0px;
  display: flex;
  height: 700px;
  width: 700px;
  justify-content: stretch;
  align-items: stretch;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0px;
  background: white;
}

.row {
  flex: 1;
  margin: 0px;
}

.column, .row {
    outline: solid 0.5px rgb(226, 226, 226);
}
