.grid {
  margin: 0px;
  display: flex;
  height: 700px;
  width: 700px;
  justify-content: stretch;
  align-items: stretch;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0px;
  background: white;
}

.cell {
  flex: 1;
  margin: 0px;
}

.column, .cell {
    outline: solid 0.5px rgb(226, 226, 226);
}

/* .cell:hover {
    scale: 2 2;
    background-color: black;
} */